.calendar-view {
  display: flex;
  flex-wrap: wrap;
}

.full-calendar {
  width: calc(100% - 300px);
  margin-left: 5px;
}

.side-bar {
  max-width: 240px;
  overflow: hidden;
  position: relative;
}
